.section {
	position: relative;
	margin-bottom: 8rem;
	margin-left: 14.5rem;
}

.section--entry {
	height: 105rem;
	margin-left: 0;

	.bg-img {
		position: absolute;
	}

	#table {
		top: 40rem;
	}

	#globe {
		left: 10rem;
		top: 10rem;

		#lamp-leg {
			filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
		}
	}

	#schoolboard {
		filter: blur(3px);
		z-index: -1;
		right: 0rem;
		top: -18rem;
	}
}

.edushare-div {
	position: relative;
	width: 90rem;
	height: 26rem;
	top: 11rem;
	right: 4rem;

	border: 1rem solid rgba($darkblue, .4);
	border-radius: 25px;
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)) content-box;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);

	&__text {
		position: absolute;
		font-family: "Nunito";
		font-weight: 800;
		color: $blue;

		&#upper {
			top: 1.5rem;
			left: 4rem;
			font-size: 4rem;
			text-shadow: $darkblue 3px 0px 0px, $darkblue 2.83487px 0.981584px 0px, $darkblue 2.35766px 1.85511px 0px, $darkblue 1.62091px 2.52441px 0px, $darkblue 0.705713px 2.91581px 0px, $darkblue -0.287171px 2.98622px 0px, $darkblue -1.24844px 2.72789px 0px, $darkblue -2.07227px 2.16926px 0px, $darkblue -2.66798px 1.37182px 0px, $darkblue -2.96998px 0.42336px 0px, $darkblue -2.94502px -0.571704px 0px, $darkblue -2.59586px -1.50383px 0px, $darkblue -1.96093px -2.27041px 0px, $darkblue -1.11013px -2.78704px 0px, $darkblue -0.137119px -2.99686px 0px, $darkblue 0.850987px -2.87677px 0px, $darkblue 1.74541px -2.43999px 0px, $darkblue 2.44769px -1.73459px 0px, $darkblue 2.88051px -0.838247px 0px;
		}

		&#name {
			top: 9rem;
			left: 3.5rem;
			font-size: 12rem;
			text-shadow: $darkblue 3px 0px 0px, $darkblue 2.83487px 0.981584px 0px, $darkblue 2.35766px 1.85511px 0px, $darkblue 1.62091px 2.52441px 0px, $darkblue 0.705713px 2.91581px 0px, $darkblue -0.287171px 2.98622px 0px, $darkblue -1.24844px 2.72789px 0px, $darkblue -2.07227px 2.16926px 0px, $darkblue -2.66798px 1.37182px 0px, $darkblue -2.96998px 0.42336px 0px, $darkblue -2.94502px -0.571704px 0px, $darkblue -2.59586px -1.50383px 0px, $darkblue -1.96093px -2.27041px 0px, $darkblue -1.11013px -2.78704px 0px, $darkblue -0.137119px -2.99686px 0px, $darkblue 0.850987px -2.87677px 0px, $darkblue 1.74541px -2.43999px 0px, $darkblue 2.44769px -1.73459px 0px, $darkblue 2.88051px -0.838247px 0px;
			filter: drop-shadow(3px 3px $darkblue);
		}

		&#slogan {
			left: 17rem;
			top: 17rem;
			font-size: 6rem;
			text-shadow: $darkblue 3px 0px 0px, $darkblue 2.83487px 0.981584px 0px, $darkblue 2.35766px 1.85511px 0px, $darkblue 1.62091px 2.52441px 0px, $darkblue 0.705713px 2.91581px 0px, $darkblue -0.287171px 2.98622px 0px, $darkblue -1.24844px 2.72789px 0px, $darkblue -2.07227px 2.16926px 0px, $darkblue -2.66798px 1.37182px 0px, $darkblue -2.96998px 0.42336px 0px, $darkblue -2.94502px -0.571704px 0px, $darkblue -2.59586px -1.50383px 0px, $darkblue -1.96093px -2.27041px 0px, $darkblue -1.11013px -2.78704px 0px, $darkblue -0.137119px -2.99686px 0px, $darkblue 0.850987px -2.87677px 0px, $darkblue 1.74541px -2.43999px 0px, $darkblue 2.44769px -1.73459px 0px, $darkblue 2.88051px -0.838247px 0px;
		
		}
	}
}

.section--annotation {

	&__div {
		width: 70rem;
		
		&__element {
			width: 100%;
			height: 16rem;
			display: flex;
			align-items: center;
			padding: 3rem 4rem;
			color: #fff;
			font-size: 5rem;
			font-weight: 600;

			span {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				background-color: #fff;
				border-radius: 50%;
				font-size: 10rem;
				margin-right: 1rem;
			}

			&#_1 {
				background-color: $blue;
				font-size: 8rem;
			}

			&#_2 {
				background-color: scale-color($blue, $blackness:15%);
			}

			&#_3 {
				background-color: scale-color($blue, $blackness:25%);
			}

			&#_4 {
				background-color: scale-color($blue, $blackness:35%);
			}
		}
	}

	.book-stack {
		position: absolute;
		width: 50rem;
		top: 5rem;
		right: 3rem;
		z-index: -1;
	}
}

.section--courses {
	margin-left: 10rem;
	margin-bottom: 12rem;

	&__text {
		font-family: "PT_Sans";
		font-size: 9rem;
		color: $blue;
		filter: drop-shadow(2px 2px 0 $darkblue);
		text-shadow: $darkblue 2px 0px 0px, $darkblue 1.75517px 0.958851px 0px, $darkblue 1.0806px 1.68294px 0px, $darkblue 0.141474px 1.99499px 0px, $darkblue -0.832294px 1.81859px 0px, $darkblue -1.60229px 1.19694px 0px, $darkblue -1.97998px 0.28224px 0px, $darkblue -1.87291px -0.701566px 0px, $darkblue -1.30729px -1.5136px 0px, $darkblue -0.421592px -1.95506px 0px, $darkblue 0.567324px -1.91785px 0px, $darkblue 1.41734px -1.41108px 0px, $darkblue 1.92034px -0.558831px 0px;transition: transform .5s ease-out;
		margin-bottom: 7rem;	
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
	    align-content: center;
	    align-items: center;
	    justify-content: center;
	    gap: 2rem;
	}
}

.grid__elem {
	position: relative;
	width: 27rem;
	height: 27rem;

	&__text-div {
		position: absolute;
		width: 100%;
		height: 5rem;
		bottom: 0;
		padding: 0 1rem;
		background: linear-gradient(to top, transparent 40%,rgba(255, 255, 255, .3) 100%);
	}

	&__text {
		font-family: "PT_Sans";
		font-size: 3rem;
		font-weight: bold;
		color: #fff;
		line-height: 5rem;
	}
}

.section--teachers {
	margin-left: 10rem;
	height: 60rem;
	// filter: drop-shadow(3px 3px 2px $gray); //lagging

	.carousel-wrapper {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0, 0, 0);

		.teachers-carousel {
			position: absolute;
			width: 100%;
			height: 55rem;

			.owl-stage-outer {
				margin: -5px;
				padding: 5px;
			}
		}

		.owl-nav {
			width: 100%;
			display: flex;
		    justify-content: space-between;

			margin: 0 !important;
			padding: 0 2%;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    pointer-events: none;

		    [class*="owl-"] {
		    	pointer-events: all;
		    	font-size: 3rem;
		    	height: 10rem;
		    	width: 5rem;
		    	display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba($darkblue, .7);

				&:hover {
					background-color: rgba($darkblue, .9);
				}
		    }
		}

		.owl-dots {
	    	position: absolute;

	    	left: 0;
	    	right: 0;
	    	bottom: -3.5rem;

	    	.owl-dot span {
	    		width: 4rem;
	    		height: 0.5rem;
	    		border-radius: 0;

	    		background: #777;
	    	}

	    	.owl-dot.active span {
	    		background: $darkblue;
	    	}
	    }
	}

	.section--teachers__elem {
		position: relative;
		width: 41.5rem;
		height: 55rem;
		border: 2px solid rgba($darkblue, .4);
		box-shadow: 3px 3px 2px $gray;

		&__img {
			height: 70%;
			object-fit: cover;
		}

		&__text-div {
			height: 30%;
			text-align: center;
			padding: 1rem;
			font-size: 3rem;
			color: $darkblue;
		}

		&__name {
			font-weight: bold;
			margin-bottom: 2rem;
			text-shadow: 2px 2px 2px $gray;
		}

		&__desc {
			font-size: 2.5rem;
		}
	}
}