.page[navbar-toggler_visible="false"] .nav-column {
		transform: translateX(-22.5rem);
}

.nav-column {
	position: fixed;
	width: 22.5rem;
	height: calc(100% - $header-height);
	top: 7.5rem;
	transition: transform .2s ease-out;
	z-index: 5;

	font-family: "PT_Sans";
	background-color: #E7D3B0;
	
	.shadow-fix {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, .3), inset -5px 0 6px rgba(0, 0, 0, .3);		
		user-select: none;
		pointer-events: none;
		z-index: 20;
	}

    .shelf-container {
    	height: 54rem;
    	display: flex;
		flex-direction: column;
	    flex-wrap: nowrap;
	    align-items: flex-start;
	    margin-bottom: 1rem;

	    .shelf {
	    	position: relative;
	    	width: 100%;
	    	height: 9rem;
	    	background-image: url("../images/shelf.svg");
	    	padding: 2.5rem;
	    	font-size: 4rem;

	    	display: flex;
	    	align-items: center;
	    	justify-content: center;

	    	&-text {
	    		position: absolute;
	    		top: 50%;
	    		transform: translateY(-50%);

	    		font-size: inherit;
	    		color: $blue;
	    		filter: drop-shadow(2px 2px 0 $darkblue);
	    		text-shadow: $darkblue 1px 0px 0px, $darkblue 0.540302px 0.841471px 0px, $darkblue -0.416147px 0.909297px 0px, $darkblue -0.989992px 0.14112px 0px, $darkblue -0.653644px -0.756802px 0px, $darkblue 0.283662px -0.958924px 0px, $darkblue 0.96017px -0.279415px 0px;
	    		transition: transform .5s ease-out;

	    		z-index: 2;
	    	}

	    	.books {
	    		position: absolute;
	    		height: 65%;
	    		z-index: 1;
	    		filter: blur(.1rem);

	    		&#books1 {
	    			right: 10%;
	    		}
	    		
	    		&#books2 {
	    			left: 10%;
	    		}

	    		&#books3 {
	    			right: 10%;
	    		}

	    		&#books4 {
	    			left: 10%;
	    		}
	    	}

	    	&:hover .shelf-text {
	    		transform: translateX(2rem) translateY(-50%);
	    	}

	    	&#courses {
	    		justify-content: flex-start;
	    	}

	    	&#about {
	    		justify-content: flex-end;
	    	}

	    	&#adv_search {
	    		font-size: 2.9rem;
	    		justify-content: flex-start;
	    	}
	    }
    }

    .actual-name {
    	font-family: "Exo2";
    	width: 100%;
    	height: 4rem;
    	font-size: 3rem;
    	font-weight: 600;

    	background-color: #fff;
    	color: $darkblue;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }

    .actual-container {
    	height: 39rem;
    	display: flex;
		flex-direction: column;
	    flex-wrap: nowrap;
	    align-items: flex-start;
	    padding-top: 1.5rem;
	    padding-bottom: 1.5rem;

	    .actual-div {
	    	position: relative;
	    	width: 100%;
	    	height: 5rem;
	    	background-color: #fff;
	    	text-decoration: none;

	    	display: flex;
			align-items: center;
			padding: .5rem;
			margin-bottom: 1.2rem;

	    	.actual-dots {
	    		height: 100%;
	    		margin-right: .7rem;
	    	}

	    	.actual-text {
	    		color: $darkblue;
	    		font-size: 2.2rem;
	    	}

	    	.actual-bookmark {
	    		width: 1.5rem;
	    		height: 90%;
	    		position: absolute;
	    		top: 0;
	    		right: 0;
	    		-webkit-mask: url("../images/bookmark.svg") no-repeat center;
				mask: url("../images/bookmark.svg") no-repeat center;
	    	}
	    }
    }
}