.wip {
	position: absolute;
	width: 60vw;
	height: 50vh;
	background-color: $skyblue;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 20vh;
	left: 0;
	z-index: 2;
	color: $darkblue;
	display: flex;
	align-items: center;
    justify-content: space-around;
    gap: 10rem;
    padding: 3rem;

	::selection {
        background: $darkblue; /* Safari */
    }
    ::-moz-selection {
        background: $darkblue; /* Firefox */
    }

	i {
		font-size: 30rem;
	}

	p {
		font-size: 5rem;
		line-height: 100%;
	}
}