{%  extends 'eduapp/base.html' %}
{% load mptt_tags %}

{% block content %}
	<div class="course-landing">
		<div class="course-landing__info">
			<p class="course-landing__info__name">{{course.title}}</p>
			<p class="course-landing__info__tags">{% for tag in course.tags.all %}<a href="{% url 'courses' %}?tags={{tag.title}}">#{{tag.title}}</a >{% endfor %}</p>
		</div>
		<div class="course-landing__description">
			<div class="course-landing__description__title">Описание</div>
			<div class="course-landing__description__text">{{ course.description|linebreaks }}</div>
		</div>
		<div class="course-landing__lessons">
			<ol>
				{% recursetree lesson_list %}
					<li>
                        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
			            {% if not node.is_leaf_node %}
			                <ol class="children">
			                    {{ children }}
			                </ol>
			            {% endif %}
					</li>
				{% endrecursetree %}
			</ol>
		</div>
		<div class="course-landing__teachers">
			
		</div>
	</div>
{% endblock %}
