{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EduShare - {{ title }}</title>
    <link rel="stylesheet" href="{% static 'bundles/css/style.min.css' %}">
</head>
<body>    
    <div class="page" navbar-toggler_visible="false">
        {% include "eduapp/header.html" %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        {% include "eduapp/footer.html" %}
    </div>

    <script type="text/javascript" src="{% static 'bundles/js/app.js' %}"></script>
</body>
</html>