{% load static %}

<header class="header">
	<div class="header__background">
		<div class="gradient-effect"></div>
		<img src="{% static 'bundles/images/wave1.png' %}" alt="" id="wave1">
		<img src="{% static 'bundles/images/wave2.png' %}" alt="" id="wave2">
	</div>
	<div class="header__logo">
		<a href="/">
			<img src="{% static 'bundles/images/logo.svg' %}" alt="Logo">
		</a>
	</div>
	<div class="header__search">
		<input placeholder="Поиск по EduShare...">
		<img src="{% static 'bundles/images/material-symbols_search.svg' %}" alt="" class="header__search--icon">
	</div>
	<div class="header__personal-bar">
		<!-- <div class="personal-bar__dashboard"></div> -->
		<div class="personal-btn btn_sign-in">
			<p class="personal-text">Войти</p>
		</div>
		<div class="personal-btn btn_registration">
			<p class="personal-text">Регистрация</p>
		</div>
		<a href="http://digitalwind.ru" class="digital_wind-logo"><img id="bxid_862078" src="http://www.digitalwind.ru/images/logo2023.jpg" title="www.digitalwind.ru" border="0" align="left" alt="www.digitalwind.ru"></a>
		
	</div>
</header>

<aside class="nav-column">
	<div class="shadow-fix"></div>
	<div class="shelf-container">
		<a class="shelf" href="#courses_anchor" id="courses">
			<p class="shelf-text">Курсы</p>
			<img src="{% static 'bundles/images/books/books1.svg' %}" alt="" class="books" id="books1">
		</a>
		<a class="shelf" href="/" id="news">
			<p class="shelf-text">Новости</p>
		</a>
		<a class="shelf" href="/" id="about">
			<p class="shelf-text">О нас</p>
			<img src="{% static 'bundles/images/books/books2.svg' %}" alt="" class="books" id="books2">
		</a>
		<a class="shelf" href="/" id="adv_search">
			<p class="shelf-text">Расширенный поиск</p>
			<img src="{% static 'bundles/images/books/books3.svg' %}" alt="" class="books" id="books3">
		</a>
		<a class="shelf" href="/" id="lesson_code">
			<p class="shelf-text">Код урока</p>
		</a>
		<a class="shelf" href="#teachers_anchor" id="teachers">
			<p class="shelf-text">Учителя</p>
			<img src="{% static 'bundles/images/books/books4.svg' %}" alt="" class="books" id="books4">
		</a>
	</div>
	<div class="actual-name"><p>АКТУАЛЬНОЕ</p></div>
	<div class="actual-container">
		<a class="actual-div" href="/">
			<img src="{% static 'bundles/images/actual-dots.svg' %}" alt="" class="actual-dots">
			<p class="actual-text">Подготовка к ЕГЭ!</p>
			<div class="actual-bookmark" style="background-color: #e74c3c;"></div>
		</a>
		<a class="actual-div" href="/">
			<img src="{% static 'bundles/images/actual-dots.svg' %}" alt="" class="actual-dots">
			<p class="actual-text">Создавайте уроки!</p>
			<div class="actual-bookmark" style="background-color: #3498db;"></div>
		</a>
		<a class="actual-div" href="/">
			<img src="{% static 'bundles/images/actual-dots.svg' %}" alt="" class="actual-dots">
			<p class="actual-text">Подготовка к олимпиадам</p>
			<div class="actual-bookmark" style="background-color: #f1c40f;"></div>
		</a>
		<a class="actual-div" href="/">
			<img src="{% static 'bundles/images/actual-dots.svg' %}" alt="" class="actual-dots">
			<p class="actual-text">Текущие конкурсы</p>
			<div class="actual-bookmark" style="background-color: #9b59b6;"></div>
		</a>
	</div>
</aside>
